<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel=stylesheet>
	<link href=https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css rel=stylesheet>
	<link href=/admin/static/css/app.cf53070067a0a51b39b69ec38fab1ad0.css rel=stylesheet>
</head>

<body>
	<b-container fluid>
		<div id=app></div>
	</b-container>
	<script type=text/javascript src=/admin/static/js/manifest.2ae2e69a05c33dfc65f8.js> </script>
	<script type=text/javascript src=/admin/static/js/vendor.f7e89441c4b36452dc65.js> </script>
	<script type=text/javascript src=/admin/static/js/app.bd0825995359bebf9bb9.js> </script>
	 </body> </html>
