<!DOCTYPE html>
<html lang=en>

<head>
	<meta charset=utf-8>
	<meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta http-equiv=content-type content="text/html; charset=UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel=stylesheet>
	<link href=https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css rel=stylesheet>
	<link href=/site/static/css/app.8ef25ac8417655d91832dc43e7b7738a.css rel=stylesheet>
</head>

<body>
	<b-container fluid>
		<div id=app></div>
	</b-container>
	<script type=text/javascript src=/site/static/js/manifest.2ae2e69a05c33dfc65f8.js> </script>
	<script type=text/javascript src=/site/static/js/vendor.0baf3e40a562e77404b6.js> </script>
	<script type=text/javascript src=/site/static/js/app.1178efa6e4aef810fa65.js> </script>
	 </body> </html>
